In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import ipynb

import ipynb.fs.full.RawSleeperData as rsd

rsu.user

#How to import a file with ipynb package
#https://stackoverflow.com/questions/47391702/import-another-ipynb-file

NameError: name 'url' is not defined

Get user data based on username

In [1]:

leagues = pd.DataFrame.from_dict(requests.get(url).json(), orient='index').T
user_id = user['user_id'][0]

NameError: name 'pd' is not defined

Get league data for a specific year based on user_id

In [66]:

# for i in range(2017,2023):   #df.append(get_leagues(user_id, 2018))
#     league_data = pd.concat([league_data, get_leagues(user_id, i)])
# league_data

# year_range = []
# num_seasons = league_data['season'].nunique()
# if (league_data['season'].unique()) > 1:
#     year_range = league_data['season']
# else:
#     year_range = range(min(league_data['season']), str(max(league_data['season'].astype(int))+1))

leagues = pd.DataFrame()
for i in range(2017,2023):
    leagues = pd.concat(leagues, get_leagues(user_id, i))

C:\Users\apoul\AppData\Local\Temp\ipykernel_24296\2262633459.py:14: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  leagues = pd.concat(leagues, get_leagues(user_id, i))

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

Scoring Settings by year in a dataframe

In [28]:
#Create a for loop to loop over the scoring settings column in leagues and append to a dataframe called scoringsettings
#use the line above as a guide

# scoringsettings = pd.DataFrame()
# for i in list(league_data['scoring_settings']):
#     scoringsettings = pd.concat(scoringsettings, pd.DataFrame.from_dict(i, orient='index').T)
# scoringsettings

pd.DataFrame.from_dict(list(league_data['scoring_settings'][0]))

,idp_tkl_ast,st_ff,idp_ff,pts_allow_7_13,fum_ret_yd,rec_yd,pts_allow_35p,pts_allow_28_34,fum,pr_yd,...,bonus_rec_yd_100,fgm_40_49,qb_hit,sack,def_st_ff,def_st_td,def_st_fum_rec,xpmiss,fgm_yds,fum_rec_td
0,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,2.5,0.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,0.5,0.0,NaN
2,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,NaN
3,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,6.0
4,NaN,0.0,NaN,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,6.0
5,NaN,0.0,NaN,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,6.0

In [47]:
#create a loop for all of the roster_positions in the leagues dataframe and append to a dataframe called rosterpositions
rosterpositions = pd.DataFrame.from_dict(data=league_data[['season', 'roster_positions']])
rosterpositions = rosterpositions.explode('roster_positions').groupby(['season', 'roster_positions']).size().reset_index(name='count')
rosterpositions

   season roster_positions  count
0    2017               BN      7
1    2017              DEF      1
2    2017             FLEX      1
3    2017                K      1
4    2017               QB      2
5    2017               RB      2
6    2017               TE      1
7    2017               WR      2
8    2018               BN      7
9    2018              DEF      1
10   2018             FLEX      1
11   2018                K      1
12   2018               QB      2
13   2018               RB      2
14   2018               TE      1
15   2018               WR      2
16   2019               BN      7
17   2019              DEF      1
18   2019             FLEX      2
19   2019                K      1
20   2019               QB      2
21   2019               RB      2
22   2019               TE      1
23   2019               WR      2
24   2020               BN      7
25   2020              DEF      1
26   2020             FLEX      2
27   2020                K      1
28   2020               QB      2
29   2020               RB      2
30   2020               TE      1
31   2020               WR      2
32   2021               BN      7
33   2021              DEF      1
34   2021             FLEX      1
35   2021                K      1
36   2021               QB      2
37   2021               RB      2
38   2021               TE      1
39   2021               WR      2
40   2022               BN      7
41   2022              DEF      1
42   2022             FLEX      1
43   2022                K      1
44   2022               QB      2
45   2022               RB      2
46   2022               TE      1
47   2022               WR      2

In [ ]:
rosterpositions
# while counter >= 0:
#     print(leagues.iloc[[i]].pivot_table(index='season', columns='roster_positions'[0], aggfunc='count', fill_value=0))
#     counter = counter - 1