In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

Get user data based on username

In [2]:
#Create an api call using this url curl "https://api.sleeper.app/v1/user/<username>"
#Replace <username> with your poulos
#Load the data into a dataframe called user
url = "https://api.sleeper.app/v1/user/poulos"
user = pd.DataFrame.from_dict(requests.get(url).json(), orient='index').T
user

,verification,username,user_id,token,summoner_region,summoner_name,solicitable,real_name,phone,pending,...,metadata,is_bot,email,display_name,deleted,data_updated,currencies,created,cookies,avatar
0,None,poulos,202776677313417216,None,None,None,None,None,None,None,...,None,False,None,poulos,None,None,None,None,None,9f5d9f658121dcd67c273417dbb4872a

Get league data for a specific year based on user_id

In [16]:
# #Create an api call using this url https://api.sleeper.app/v1/user/<user_id>/leagues/<sport>/<season>
# #Replace <user_id> with your user_id, sport with nfl, and season with 2019
# #Load the data into a dataframe called leagues
leagues = pd.DataFrame.from_dict(requests.get(url).json(), orient='index').T
user_id = user['user_id'][0]
def get_leagues(user_id, year):
    url = "https://api.sleeper.app/v1/user/" + user_id + "/leagues/nfl/" + str(year)
    leagues = pd.DataFrame.from_dict(requests.get(url).json()[0], orient='index').T
    return leagues

league_data = pd.DataFrame()
for i in range(2017,2023):   #df.append(get_leagues(user_id, 2018))
    league_data = pd.concat([league_data, get_leagues(user_id, i)])
league_data

,total_rosters,status,sport,shard,settings,season_type,season,scoring_settings,roster_positions,previous_league_id,...,last_author_is_bot,last_author_id,last_author_display_name,last_author_avatar,group_id,draft_id,display_order,company_id,bracket_id,avatar
0,10,complete,nfl,71,"{'was_auto_archived': 1, 'waiver_type': 0, 'wa...",regular,2017,"{'idp_tkl_ast': 0.0, 'st_ff': 0.0, 'idp_ff': 0...","[QB, QB, RB, RB, WR, WR, TE, FLEX, K, DEF, BN,...",None,...,True,160004000000400000,SleeperBot,sleeperbot.png,None,200488159526522880,-9999,None,246221902111051776,22c09d7d1ee9427c8029d2abb66efaa8
0,10,complete,nfl,780,"{'was_auto_archived': 1, 'waiver_type': 0, 'wa...",regular,2018,"{'idp_tkl_ast': 0.0, 'st_ff': 0.0, 'idp_ff': 0...","[QB, QB, RB, RB, WR, WR, TE, FLEX, K, DEF, BN,...",200488157043490816,...,True,166666666666666666,sys,None,None,326915486971363328,-9999,None,378468455252512768,22c09d7d1ee9427c8029d2abb66efaa8
0,10,complete,nfl,218,"{'was_auto_archived': 1, 'reserve_slots': 2, '...",regular,2019,"{'idp_tkl_ast': 0.0, 'st_ff': 0.0, 'idp_ff': 0...","[QB, QB, RB, RB, WR, WR, TE, FLEX, FLEX, K, DE...",305953267286822912,...,True,166666666666666666,sys,None,None,383365794827902977,-9999,None,513524014032891904,22c09d7d1ee9427c8029d2abb66efaa8
0,10,complete,nfl,182,"{'daily_waivers_last_ran': 29, 'reserve_allow_...",regular,2020,"{'idp_tkl_ast': 0.0, 'st_ff': 0.0, 'idp_ff': 0...","[QB, QB, RB, RB, WR, WR, TE, FLEX, FLEX, K, DE...",383365794827902976,...,True,166666666666666666,sys,None,None,516030446073933825,-9999,None,644818651253432321,22c09d7d1ee9427c8029d2abb66efaa8
0,10,complete,nfl,981,"{'daily_waivers_last_ran': 28, 'reserve_allow_...",regular,2021,"{'st_ff': 0.0, 'pts_allow_7_13': 5.0, 'def_st_...","[QB, QB, RB, RB, WR, WR, TE, FLEX, K, DEF, BN,...",516030446073933824,...,True,166666666666666666,sys,None,None,734441444336582657,-9999,None,828022067550113792,22c09d7d1ee9427c8029d2abb66efaa8
0,10,complete,nfl,116,"{'daily_waivers_last_ran': 20, 'reserve_allow_...",regular,2022,"{'st_ff': 0.0, 'pts_allow_7_13': 5.0, 'def_st_...","[QB, QB, RB, RB, WR, WR, TE, FLEX, K, DEF, BN,...",734441444336582656,...,True,166666666666666666,sys,None,None,858366433351020545,0,None,911173824433647631,22c09d7d1ee9427c8029d2abb66efaa8

Scoring Settings by year in a dataframe

In [28]:
#Create a for loop to loop over the scoring settings column in leagues and append to a dataframe called scoringsettings
#use the line above as a guide

# scoringsettings = pd.DataFrame()
# for i in list(league_data['scoring_settings']):
#     scoringsettings = pd.concat(scoringsettings, pd.DataFrame.from_dict(i, orient='index').T)
# scoringsettings

pd.DataFrame.from_dict(list(league_data['scoring_settings'][0]))

,idp_tkl_ast,st_ff,idp_ff,pts_allow_7_13,fum_ret_yd,rec_yd,pts_allow_35p,pts_allow_28_34,fum,pr_yd,...,bonus_rec_yd_100,fgm_40_49,qb_hit,sack,def_st_ff,def_st_td,def_st_fum_rec,xpmiss,fgm_yds,fum_rec_td
0,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,2.5,0.0,0.5,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,0.5,0.0,NaN
2,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,NaN
3,0.0,0.0,0.0,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,6.0
4,NaN,0.0,NaN,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,6.0
5,NaN,0.0,NaN,5.0,0.0,0.1,-4.0,-1.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.0,0.0,0.0,-0.5,0.0,6.0

In [47]:
#create a loop for all of the roster_positions in the leagues dataframe and append to a dataframe called rosterpositions
rosterpositions = pd.DataFrame.from_dict(data=league_data[['season', 'roster_positions']])
rosterpositions = rosterpositions.explode('roster_positions').groupby(['season', 'roster_positions']).size().reset_index(name='count')
rosterpositions

   season roster_positions  count
0    2017               BN      7
1    2017              DEF      1
2    2017             FLEX      1
3    2017                K      1
4    2017               QB      2
5    2017               RB      2
6    2017               TE      1
7    2017               WR      2
8    2018               BN      7
9    2018              DEF      1
10   2018             FLEX      1
11   2018                K      1
12   2018               QB      2
13   2018               RB      2
14   2018               TE      1
15   2018               WR      2
16   2019               BN      7
17   2019              DEF      1
18   2019             FLEX      2
19   2019                K      1
20   2019               QB      2
21   2019               RB      2
22   2019               TE      1
23   2019               WR      2
24   2020               BN      7
25   2020              DEF      1
26   2020             FLEX      2
27   2020                K      1
28   2020               QB      2
29   2020               RB      2
30   2020               TE      1
31   2020               WR      2
32   2021               BN      7
33   2021              DEF      1
34   2021             FLEX      1
35   2021                K      1
36   2021               QB      2
37   2021               RB      2
38   2021               TE      1
39   2021               WR      2
40   2022               BN      7
41   2022              DEF      1
42   2022             FLEX      1
43   2022                K      1
44   2022               QB      2
45   2022               RB      2
46   2022               TE      1
47   2022               WR      2

In [ ]:
rosterpositions
# while counter >= 0:
#     print(leagues.iloc[[i]].pivot_table(index='season', columns='roster_positions'[0], aggfunc='count', fill_value=0))
#     counter = counter - 1